<div class = "heading">
  <h2><%= @list.name %></h2>
  <%= link_to "Add Task...", new_board_list_task_path(@list, :id), class: "ui button" %>
  <%= link_to "Delete List", board_list_path(@board, @list), method: :delete, class: "ui button" %>
  <hr/>
</div>